.bg-hero{
  background: url('../public/assets/images/firstlogo.jpeg');
}
.bg-calendar{
  background: url('../public/assets/images/seccalendar.png');
}
@media (max-width: 640px) { /* Tailwind's sm breakpoint */
  .form-control {
    width: 295px !important; /* or a specific width for mobile view */
  }
}
.c{
  background: url('../public/assets/worldmap.avif') rgba(13, 14, 13, 0.8);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  
}


.goog-te-gadget .goog-te-combo {
  color: blue !important;
}
#google_translate_element { height: 26px !important; overflow: hidden !important; }
body > .skiptranslate {
  display: none;
}
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
body {
  top: 0px !important;
}
.goog-te-combo{
  @apply  border outline-none
}
@keyframes fadeInZoom {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeInZoom {
  animation: fadeInZoom 0.5s ease-in-out;
}
