.bg-hero{
  background: url('../public/assets/images/firstlogo.jpeg');
}
.bg-calendar{
  background: url('../public/assets/images/seccalendar.png');
}
@media (max-width: 640px) { /* Tailwind's sm breakpoint */
  .form-control {
    width: 295px !important; /* or a specific width for mobile view */
  }
}
.c{
  background: url('../public/assets/worldmap.avif') rgba(13, 14, 13, 0.8);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  
}